

@font-face {
    font-family: Intro-Bold;
    src: url(fonts/Intro-Bold.otf);
}
@font-face {
    font-family: Intro-Light;
    src: url(fonts/Intro-Light.otf);
}
@font-face {
    font-family: Intro;
    src: url(fonts/Intro-Regular.otf);
}


body {
	background: #FFFFFF;
	color: #787878;
	font-family: "Intro";
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #787878;
    font-size: 32px;
}

h4 {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.clr {
	clear: both;
}
.clr2 {
	clear: both;
	height: 15px;
}


.app-content {
    text-align: center;
	color: #787878;
	font-family: "Intro";
	font-size: 14px;
    margin: 65px auto 0;
    max-width: 100%;
}

.menu {
    margin: -50px 0 0;
	padding: 0;
	display: block;
	list-style: none;
}
.menu LI {
	font-family: "Intro";
    font-size: 12px;
	color: #787878;
}
.menu LI SPAN {
	color: #787878;
	line-height: 1.5;
	display: block;
	width: 280px;
	font-family: "Intro";
    font-size: 12px;
	text-decoration: none;
	font-weight: 400;
	padding-left: 17px;
	height: 50px;
	padding-top: 10px;
}
.menu LI A {
	color: #787878;
	padding-top: 25px;
	padding-bottom: 20px;
	display: block;
	width: 280px;
	font-family: "Intro";
    font-size: 12px;
	text-decoration: none;
	font-weight: 400;
	padding-left: 42px;
}
.menu LI.active {
	border-bottom: solid 5px #23b14d;
	background-color: #787878;
}


.menu LI.active A {
	color: #000000;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 42px;
	display: block;
	width: 100%;
	font-family: "Intro";
    font-size: 12px;
	text-decoration: none;
}
.menu-panel-title {
    color: #ffffff;
    float: left;
    font-family: "Intro";
    font-size: 22px;
    left: 85px;
    margin-bottom: 0 !important;
    margin-left: 95px !important;
    margin-right: 0 !important;
    margin-top: -82px;
    padding: 0 !important;
    width: 180px;
}


.app-content .app_auth_form {
    display: block;
	width: 300px;
	height: 220px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.text-fields {
    border-bottom: solid 1px #787878 !important;
    height: 32px !important;
    margin: 0 auto !important;
    font-family: "Intro" !important;
    text-align: center !important;
    color: #787878 !important;
    background-color: #ffffff !important;
    position: relative !important;
    top: 15px !important;
    margin-bottom: 10px !important;
}
.error {
    border: solid 1px red !important;
}

.app-content .app_auth_form SPAN {
    background-color: #23b14d;
    color: #ffffff;
    display: block;
    float: left;
    font-family: "Intro";
    font-size: 16px;
    height: 27px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 35px;
    padding-right: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 32px;
    z-index: 1100;
}
.app-content .app_auth_form #app_auth_subm {
    font-family: "Intro-Bold";
    font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	display: block;
	margin: 60px auto;
    height: 35px;
    padding-top: 10px;
    background: #D2D2D2;
    border-radius: 100px;
    text-transform: uppercase;
}
.app-content .app_auth_form #app_forrget_pass_subm {
    font-family: "Intro";
    font-size: 16px;
	color: #3D88BE;
	text-decoration: none;
	display: block;
	margin: -40px auto;
	width: 240px;
	height: 25px;
	padding-top: 5px;
}


#menu-1-user {
    display: none;
}
#menu-2-user {
    display: none;
}
#menu-3-user {
    display: none;
}
#menu-4-user {
    display: none;
}
#menu-5-user {
    display: none;
}
#menu-6-user {
    display: none;
}


h2 { margin-top:1.5em; }

p code { font-size:1.2em; font-weight:bold; } 

dt { font-weight: bold; margin: 2em 0 .5em; }
dt code, dd code { font-size:1.3em; line-height:150%; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

.ui-header .jqm-home { top:0.65em; }




@media screen and (min-width: 360px) and (max-width: 440px) {


	h4 {
        display: block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
	}

	.clr {
		clear: both;
	}
	.clr2 {
		clear: both;
		height: 15px;
	}

	.app-content {
	    text-align: center;
		color: #ffffff;
		font-family: "OpenSans-Regular";
		font-size: 14px;
	    margin: 15px auto 0;
	    max-width: 100%;
	}


	.menu {
	    margin: -50px 0 0;
		padding: 0;
		display: block;
		list-style: none;
	}
	.menu LI {
		font-family: "Intro";
	    font-size: 12px;
		color: #ffffff;
	}
	.menu LI SPAN {
		color: #ffffff;
		line-height: 1.5;
		display: block;
		width: 280px;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
		font-weight: 400;
		padding-left: 17px;
		height: 30px
	}
	.menu LI A {
		color: #ffffff;
		padding-top: 25px;
		padding-bottom: 20px;
		display: block;
		width: 280px;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
		font-weight: 400;
		padding-left: 42px;
	}
	.menu LI.active {
		border-bottom: solid 5px #23b14d;
		background-color: #ffffff;
	}


	.menu LI.active A {
		color: #000000;
		padding-top: 25px;
		padding-bottom: 20px;
		padding-left: 42px;
		display: block;
		width: 100%;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
	}
	.menu-panel-title {
	    color: #ffffff;
	    float: left;
	    font-family: "Intro";
	    font-size: 22px;
	    left: 85px;
	    margin-bottom: 0 !important;
	    margin-left: 95px !important;
	    margin-right: 0 !important;
	    margin-top: -82px;
	    padding: 0 !important;
	    width: 180px;
	}


	.app-content .app_auth_form {
	    display: block;
		width: 300px;
		height: 220px;
		margin: 65px auto 0;
		background-color: #212121;
	}
    .text-fields {
        border: none;
        width: 280px;
        height: 32px;
        margin: 0 auto;
        font-family: "Intro";
        text-align: center;
        color: #575757;
        background-color: #ffffff;
        position: relative;
        top: 15px;
        margin-bottom: 10px;
    }
    .error {
        border: solid 1px red !important;
    }

	.app-content .app_auth_form SPAN {
	    background-color: #23b14d;
	    color: #ffffff;
	    display: block;
	    float: left;
	    font-family: "Intro";
	    font-size: 16px;
	    height: 27px;
	    margin-left: 10px;
	    margin-right: 0;
	    margin-top: 35px;
	    padding-right: 0;
	    padding-top: 5px;
	    position: absolute;
	    text-align: center;
	    width: 32px;
	    z-index: 1100;
	}
    .app-content .app_auth_form #app_auth_subm {
        font-family: "Intro-Bold";
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin: 60px auto;
        height: 35px;
        padding-top: 10px;
        background: #D2D2D2;
        border-radius: 100px;
        text-transform: uppercase;
    }
    .app-content .app_auth_form #app_forrget_pass_subm {
        font-family: "Intro";
        font-size: 16px;
        color: #3D88BE;
        text-decoration: none;
        display: block;
        margin: -40px auto;
        width: 240px;
        height: 25px;
        padding-top: 5px;
    }


	#menu-1-user {
	    display: none;
	}
	#menu-2-user {
	    display: none;
	}
	#menu-3-user {
	    display: none;
	}
	#menu-4-user {
	    display: none;
	}
	#menu-5-user {
	    display: none;
	}
	#menu-6-user {
	    display: none;
	}


	h2 { margin-top:1.5em; }

	p code { font-size:1.2em; font-weight:bold; }

	dt { font-weight: bold; margin: 2em 0 .5em; }
	dt code, dd code { font-size:1.3em; line-height:150%; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

	.ui-header .jqm-home { top:0.65em; }
}

@media screen and (min-width: 240px) and (max-width: 360px) {
	h4 {
        display: block;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
	}

	.clr {
		clear: both;
	}
	.clr2 {
		clear: both;
		height: 15px;
	}



	.app-content {
	    text-align: center;
		color: #ffffff;
		font-family: "OpenSans-Regular";
		font-size: 14px;
	    margin: 15px auto 0;
	    max-width: 100%;
	}

	.menu {
	    margin: -50px 0 0;
		padding: 0;
		display: block;
		list-style: none;
	}
	.menu LI {
		font-family: "Intro";
	    font-size: 12px;
		color: #ffffff;
	}
	.menu LI SPAN {
		color: #ffffff;
		line-height: 1.5;
		display: block;
		width: 280px;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
		font-weight: 400;
		padding-left: 17px;
		height: 30px
	}
	.menu LI A {
		color: #ffffff;
		padding-top: 25px;
		padding-bottom: 20px;
		display: block;
		width: 280px;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
		font-weight: 400;
		padding-left: 42px;
	}
	.menu LI.active {
		border-bottom: solid 5px #23b14d;
		background-color: #ffffff;
	}


	.menu LI.active A {
		color: #000000;
		padding-top: 25px;
		padding-bottom: 20px;
		padding-left: 42px;
		display: block;
		width: 100%;
		font-family: "Intro";
	    font-size: 12px;
		text-decoration: none;
	}
	.menu-panel-title {
	    color: #ffffff;
	    float: left;
	    font-family: "Intro";
	    font-size: 22px;
	    left: 85px;
	    margin-bottom: 0 !important;
	    margin-left: 95px !important;
	    margin-right: 0 !important;
	    margin-top: -82px;
	    padding: 0 !important;
	    width: 180px;
	}



	.app-content .app_auth_form {
	    display: block;
		width: 300px;
		height: 220px;
		margin: 65px auto 0;
		background-color: #212121;
	}
    .text-fields {
        border: none;
        width: 280px;
        height: 32px;
        margin: 0 auto;
        font-family: "Intro";
        text-align: center;
        color: #575757;
        background-color: #ffffff;
        position: relative;
        top: 15px;
        margin-bottom: 10px;
    }
    .error {
        border: solid 1px red !important;
    }

	.app-content .app_auth_form SPAN {
	    background-color: #23b14d;
	    color: #ffffff;
	    display: block;
	    float: left;
	    font-family: "Intro";
	    font-size: 16px;
	    height: 27px;
	    margin-left: 10px;
	    margin-right: 0;
	    margin-top: 35px;
	    padding-right: 0;
	    padding-top: 5px;
	    position: absolute;
	    text-align: center;
	    width: 32px;
	    z-index: 1100;
	}
    .app-content .app_auth_form #app_auth_subm {
        font-family: "Intro-Bold";
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin: 60px auto;
        height: 35px;
        padding-top: 10px;
        background: #D2D2D2;
        border-radius: 100px;
        text-transform: uppercase;
    }
    .app-content .app_auth_form #app_forrget_pass_subm {
        font-family: "Intro";
        font-size: 16px;
        color: #3D88BE;
        text-decoration: none;
        display: block;
        margin: -40px auto;
        width: 240px;
        height: 25px;
        padding-top: 5px;
    }

	#menu-1-user {
	    display: none;
	}
	#menu-2-user {
	    display: none;
	}
	#menu-3-user {
	    display: none;
	}
	#menu-4-user {
	    display: none;
	}
	#menu-5-user {
	    display: none;
	}
	#menu-6-user {
	    display: none;
	}


	h2 { margin-top:1.5em; }

	p code { font-size:1.2em; font-weight:bold; }

	dt { font-weight: bold; margin: 2em 0 .5em; }
	dt code, dd code { font-size:1.3em; line-height:150%; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

	.ui-header .jqm-home { top:0.65em; }

}
