<?xml version='1.0' encoding='utf-8'?>
<widget id="flamax.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FLAMAX App</name>
    <description>
        FLAMAX App.
    </description>
    <author email="ny_18@list.ru" href="http://hh.ru/resume/c6270200ff012684510039ed1f4c59364f6171">
		Luxxx
    </author>
    <content src="index.html" />

    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
    <plugin name="phonegap-plugin-push" spec="~2.1.2" >
        <variable name="FCM_VERSION" value="11.0.1" />
        <variable name="SENDER_ID" value="405571286464" />
    </plugin>

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="permissions" value="none" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="orientation" value="portrait" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
